* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --background: #ccc;
  --color1: #007bff;
  --color2: #063364;

  --color3: #018386;
  --color4: #159294;
  --color5: #025253;
}

.navbar-nav > a {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

nav > a {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.info {
  height: 700px;
  width: 100%;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  padding: 0px;
  margin: auto;
}

.logo {
  align-items: center;
  justify-content: center;
}

.logo > img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#info-paragraph {
  text-align: left;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 65px;
  padding-top: 20px;
  color: #242424;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
}

#info-paragraph h2 {
  font-size: 60px;
}

.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
  background: #fff;
  width: 100%;
}

#info-paragraph table > * {
  width: 50%;
}

#sidebar {
  position: sticky;
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  left: 0;
  right: 0;
  overflow-y: scroll;
  top: 0px;
  background: #086366;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: var(--color3);
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  font-size: 20px;
  color: var(--color4);
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}

#sidebar ul li a:hover {
  background: #5cdab2;
  color: var(--color5);
}

#sidebar ul li a:focus {
  background: var(--color3);
  color: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: var(--color4);
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  color: #fff;
  background: var(--color4);
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
<<<<<<< HEAD
=======

#sidebarCollapse {
  visibility: hidden;
}
>>>>>>> eaaa5d5d53595340ee764a09162aac4df8d9dfc6

@media (max-width: 768px) {
  #sidebar {
    position: initial;
    margin-left: -300px;
  }
  #sidebar.active {
    margin-left: 0;
    height: auto;
  }
<<<<<<< HEAD
  /* table edit for smaller screen */
  table {
    width: 100%;
    table-layout: fixed;
    font-size: smaller;
  }

  table thead {
    font-size: 12px;
  }
=======

  #sidebarCollapse {
    visibility: visible;
  }

  /* table edit for smaller screen */ 
  table { 
    width: 100%; 
    table-layout: fixed; 
    font-size: smaller; 
  } 

  table thead { 
    font-size: 12px; 
  } 
>>>>>>> eaaa5d5d53595340ee764a09162aac4df8d9dfc6
}
