* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.navbar-nav > a {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

nav > a {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.info {
  height: auto;
  width: 100%;
  background: linear-gradient(to top left, #197772, #086366);
  padding: 0px;
  margin: auto;
  width: 100%;
}

.hero-image {
  background-image: url("../images/backgrounds/bg-1.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: #086366;
}

.logo {
  align-items: center;
  justify-content: center;
}

.logo > img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#info-paragraph {
  text-align: center;
  font-size: large;
  color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
}

@media only screen and (max-width: 480px) {
  .test {
    font-style: italic;
  }

  .board-row1,
  .board-row2,
  .board-row3,
  .board-row4 {
    display: flex;
    justify-content: center;
  }

  .tile {
    height: 50px;
    width: 50px;
    font-size: large;
    text-align: center;
    font-weight: bold;
  }

  .tileD {
    background-color: blue;
    height: 50px;
    width: 50px;
  }

  #check-score {
    height: 50px;
    width: 150px;
    background-color: lightcoral;
    font-size: large;
    text-align: center;
    font-weight: bold;
  }

  #score {
    height: 50px;
    width: 100px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    background-color: lightcoral;
  }
}

@media only screen and (min-width: 481px) {
  .test {
    font-style: italic;
  }

  .board-row1 {
    display: flex;
    justify-content: center;
  }

  .tile {
    height: 70px;
    width: 70px;
    font-size: large;
    text-align: center;
  }

  .tileD {
    background-color: blue;
    height: 70px;
    width: 70px;
  }

  #check-score {
    height: 50px;
    width: 150px;
    background-color: lightcoral;
    font-size: large;
    text-align: center;
    font-weight: bold;
  }

  #score {
    height: 50px;
    width: 100px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    background-color: lightcoral;
  }
}

.btn-success {
  /* color: black; */
  background-color: #018786;
  border-color: #fff;
}

.btn-success:hover {
  background-color: #034e4e;
  border-color: #fff;
}

.btn-success:visited {
  background-color: #034e4e;
  border-color: #fff;
}

.btn.btn-success:visited,
.btn.btn-success:active {
  background-color: #018786;
  border-color: #fff;
}

.topic {
  color: rgba(255, 255, 255, 0.836);
}

@media only screen and (max-width: 420px) {
  .hero-image {
    background-image: url("../images/backgrounds/bg-1.jpg");
    /* height: 500px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: right;
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: #086366;
  }
}

/* cards css */
body {
  /* color: #ffffff; */
  color: #000;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

.dark {
  background: #110f16;
}

.light {
  background: #f3f5f7;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.postcard.dark {
  background-color: #18151f;
}
.postcard.light {
  background-color: #e1e5ea;
}
.postcard .t-dark {
  color: #18151f;
}
.postcard a {
  color: inherit;
}
.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n + 1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n + 0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n + 1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n + 0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(
    -30deg,
    rgba(121, 221, 9, 0.1),
    transparent 50%
  );
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(121, 221, 9, 0.1),
    transparent 50%
  );
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}

.blue .postcard__title:hover {
  color: #0076bd;
}

.blue .postcard__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(
    -30deg,
    rgba(0, 118, 189, 0.1),
    transparent 50%
  );
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(0, 118, 189, 0.1),
    transparent 50%
  );
}

.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(
    -30deg,
    rgba(189, 21, 11, 0.1),
    transparent 50%
  );
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(189, 21, 11, 0.1),
    transparent 50%
  );
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}

.yellow .postcard__title:hover {
  color: #bdbb49;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(
    -30deg,
    rgba(189, 187, 73, 0.1),
    transparent 50%
  );
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(189, 187, 73, 0.1),
    transparent 50%
  );
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(
      -80deg,
      rgba(121, 221, 9, 0.1),
      transparent 50%
    );
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(121, 221, 9, 0.1),
      transparent 50%
    );
  }

  .blue::before {
    background-image: linear-gradient(
      -80deg,
      rgba(0, 118, 189, 0.1),
      transparent 50%
    );
  }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(0, 118, 189, 0.1),
      transparent 50%
    );
  }

  .red::before {
    background-image: linear-gradient(
      -80deg,
      rgba(189, 21, 11, 0.1),
      transparent 50%
    );
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(189, 21, 11, 0.1),
      transparent 50%
    );
  }

  .yellow::before {
    background-image: linear-gradient(
      -80deg,
      rgba(189, 187, 73, 0.1),
      transparent 50%
    );
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(189, 187, 73, 0.1),
      transparent 50%
    );
  }
}

/* footer css */

footer {
  background: linear-gradient(45deg, rgb(3, 3, 3), 50%, #1a002b);
  /* background: #455a64; */
  /* background-color: #18151f; */
  box-shadow: 0 4px 21px -12px rgb(0 0 0 / 66%);
  height: 100 !important;
  padding: 50px;
}

footer .container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

footer .bold-text {
  color: #989c9e !important;
}

footer .mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

footer h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

footer .social {
  font-size: 21px !important;
}

footer .rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

footer h6 a {
  color: inherit;
}

footer h6 a:hover {
  color: inherit;
}

footer small a {
  color: inherit;
}

footer small a:hover {
  color: inherit;
}
